@color-active: #286090;

.lzu-hidden {
  display: none;
}

// Status messages
.lzu-status {
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgrey;

  &.error {
    color: red;
  }
  &.success {
    color: forestgreen;
  }
}

// Scopes
.lzu-scopes {
}

// Component list
.lzu-components {

  .lzu-component-panel {
    border: 1px solid grey;

    .panel-body {
      padding: 10px 0;
    }

    &:hover {
      border-color: @color-active;
      cursor: pointer;
    }

    &.active {
      border-color: @color-active;
      cursor: default;

      .lzu-component-more {
        height: 100%;
        opacity: 1;
      }
    }
  }
  .lzu-component-field {
    word-break: break-all;
    word-wrap: break-word;

    &.name {
      font-weight: bold;
      font-size: 1.051em;
    }
  }
  .lzu-component-more {
    height: 0;
    opacity: 0;
    transition: height 0s, opacity 0.5s linear;
  }
}

// Uploader
.lzu-upload {
  puilabel {
    display: none;
  }
}

// Dropdowns
.lzu-dropdown.dropdown {
  .dropdown-menu {
    margin-top: 0;
    border: 1px solid white;
  }

  &.dropdown-right {
    float: right;
    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }
  li {
    &:hover {
      background-color: @color-active;

      .ui-button, button {
        color: white;
        text-shadow: 0 1px 1px black;
      }
    }
    .ui-fileupload-buttonbar {
      background: transparent;
      border: none;
      padding: 0.3em 0;
    }

    .ui-button, button {
      background: none;
      box-shadow: none;
      border: none;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .ui-fileupload-content {
    display: none;
  }

  span.ui-button-icon-left {
    display: none;
  }

  span.ui-button-text {
    padding: 5px 10px;
  }
}

