@color-active: #286090;
@color-default: lightgrey;
@dist-bottom: 15px;
@transition-duration: 0.5s;
@component-height-active: 200px;

.lzu-hidden {
  display: none;
}

// Status messages
.lzu-status {
  margin: 10px;
  padding: 10px;
  border: 1px solid @color-default;

  &.error {
    color: red;
  }
  &.success {
    color: forestgreen;
  }
}

// Scopes
.lzu-scopes {
  margin-bottom: @dist-bottom;
}

// Component list
.lzu-components {
  .lzu-component-panel {
    margin-bottom: @dist-bottom;
    border: 1px solid @color-default;
    border-radius: 10px;
    transition: width @transition-duration ease;

    .panel-body {
      padding: 10px 0;
    }

    &:hover {
      border-color: @color-active;
      cursor: pointer;
    }

    &.active {
      border-color: @color-active;
      cursor: default;

      .lzu-component-field {
        &.name {
          font-weight: bold;
          font-size: 1.2em;
        }
      }
      .lzu-component-more {
        height: @component-height-active;
        opacity: 1;
      }
      .lzu-component-actions {
        display: block;
      }
    }
  }
  .lzu-component-field {
    word-break: break-all;

    &.name {
      font-weight: normal;
      font-size: 1em;
    }
  }
  .lzu-component-more {
    height: 0;
    opacity: 0;
    transition: opacity @transition-duration height @transition-duration ease;
  }
  .lzu-component-actions {
    display: none;
  }
}

// Uploader
.lzu-upload {
  margin-bottom: @dist-bottom;
  puilabel {
    display: none;
  }
}

// Dropdowns
.lzu-dropdown.dropdown {
  .dropdown-menu {
    margin-top: 0;
    border: 1px solid white;
  }

  &.dropdown-right {
    float: right;
    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }
  li {
    &:hover {
      background-color: @color-active;

      .ui-button, button {
        color: white;
        text-shadow: 0 1px 1px black;
      }
    }
    .ui-fileupload-buttonbar {
      background: transparent;
      border: none;
      padding: 0.3em 0;
    }

    .ui-button, button {
      background: none;
      box-shadow: none;
      border: none;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .ui-fileupload-content {
    display: none;
  }

  span.ui-button-icon-left {
    display: none;
  }

  span.ui-button-text {
    padding: 5px 10px;
  }
}

