.lzu-hidden {
  display: none;
}
.lzu-status {
  margin: 10px;
  padding: 10px;
  border: 1px solid #d3d3d3;
}
.lzu-status.error {
  color: red;
}
.lzu-status.success {
  color: forestgreen;
}
.lzu-scopes {
  margin-bottom: 15px;
}
.lzu-components .lzu-component-panel {
  margin-bottom: 15px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  transition: width 0.5s ease;
  min-height: 85px;
}
.lzu-components .lzu-component-panel .panel-body {
  padding: 10px 0;
}
.lzu-components .lzu-component-panel:hover {
  border-color: #286090;
  cursor: pointer;
}
.lzu-components .lzu-component-panel.active {
  border-color: #286090;
  cursor: default;
}
.lzu-components .lzu-component-panel.active .lzu-component-field.name {
  font-weight: bold;
  font-size: 1.2em;
}
.lzu-components .lzu-component-panel.active .lzu-component-more {
  height: 200px;
  opacity: 1;
}
.lzu-components .lzu-component-panel.active .lzu-component-actions {
  display: block;
}
.lzu-components .lzu-component-field {
  word-break: break-all;
}
.lzu-components .lzu-component-field.name {
  font-weight: normal;
  font-size: 1em;
}
.lzu-components .lzu-component-more {
  height: 0;
  opacity: 0;
  transition: opacity 0.5s, height 0.5s ease;
}
.lzu-components .lzu-component-actions {
  display: none;
}
.lzu-upload {
  margin-bottom: 15px;
}
.lzu-upload puilabel {
  display: none;
}
.lzu-dropdown ul.dropdown-menu {
  margin-top: 0;
  border: 1px solid white;
}
.lzu-dropdown ul.dropdown-menu > li:hover,
.lzu-dropdown ul.dropdown-menu ul.dropdown-menu > li:hover {
  background-color: #286090;
}
.lzu-dropdown ul.dropdown-menu > li:hover a,
.lzu-dropdown ul.dropdown-menu ul.dropdown-menu > li:hover a,
.lzu-dropdown ul.dropdown-menu > li:hover .ui-button,
.lzu-dropdown ul.dropdown-menu ul.dropdown-menu > li:hover .ui-button,
.lzu-dropdown ul.dropdown-menu > li:hover button,
.lzu-dropdown ul.dropdown-menu ul.dropdown-menu > li:hover button {
  color: white;
  text-shadow: 0 1px 1px black;
}
.lzu-dropdown ul.dropdown-menu > li .ui-fileupload-buttonbar,
.lzu-dropdown ul.dropdown-menu ul.dropdown-menu > li .ui-fileupload-buttonbar {
  background: transparent;
  border: none;
  padding: 0.3em 0;
}
.lzu-dropdown ul.dropdown-menu > li a,
.lzu-dropdown ul.dropdown-menu ul.dropdown-menu > li a,
.lzu-dropdown ul.dropdown-menu > li .ui-button,
.lzu-dropdown ul.dropdown-menu ul.dropdown-menu > li .ui-button,
.lzu-dropdown ul.dropdown-menu > li button,
.lzu-dropdown ul.dropdown-menu ul.dropdown-menu > li button {
  background: none;
  box-shadow: none;
  border: none;
  font-size: 14px;
  font-weight: normal;
  color: black;
  text-shadow: 0 1px 1px white;
}
.lzu-dropdown .ui-fileupload-content {
  display: none;
}
.lzu-dropdown span.ui-button-icon-left {
  display: none;
}
.lzu-dropdown span.ui-button-text {
  padding: 5px 10px;
}
.lzu-dropdown.dropdown-right {
  float: right;
}
.lzu-dropdown.dropdown-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.lzu-dropdown .dropdown-submenu {
  position: relative;
}
.lzu-dropdown .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  max-width: 180px;
  margin-top: -6px;
  margin-right: -1px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}
.lzu-dropdown .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #999;
  margin-top: 5px;
  margin-right: 10px;
}
.lzu-dropdown .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.lzu-dropdown .dropdown-submenu:hover > a:after {
  border-right-color: #ffffff;
}
