.lzu-hidden {
  display: none;
}
.lzu-status {
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgrey;
}
.lzu-status.error {
  color: red;
}
.lzu-status.success {
  color: forestgreen;
}
.lzu-components .lzu-component-panel {
  border: 1px solid grey;
}
.lzu-components .lzu-component-panel .panel-body {
  padding: 10px 0;
}
.lzu-components .lzu-component-panel:hover {
  border-color: #286090;
  cursor: pointer;
}
.lzu-components .lzu-component-panel.active {
  border-color: #286090;
  cursor: default;
}
.lzu-components .lzu-component-panel.active .lzu-component-more {
  height: 100%;
  opacity: 1;
}
.lzu-components .lzu-component-field {
  word-break: break-all;
  word-wrap: break-word;
}
.lzu-components .lzu-component-field.name {
  font-weight: bold;
  font-size: 1.051em;
}
.lzu-components .lzu-component-more {
  height: 0;
  opacity: 0;
  transition: height 0s, opacity 0.5s linear;
}
.lzu-upload puilabel {
  display: none;
}
.lzu-dropdown.dropdown .dropdown-menu {
  margin-top: 0;
  border: 1px solid white;
}
.lzu-dropdown.dropdown.dropdown-right {
  float: right;
}
.lzu-dropdown.dropdown.dropdown-right .dropdown-menu {
  right: 0;
  left: auto;
}
.lzu-dropdown.dropdown li:hover {
  background-color: #286090;
}
.lzu-dropdown.dropdown li:hover .ui-button,
.lzu-dropdown.dropdown li:hover button {
  color: white;
  text-shadow: 0 1px 1px black;
}
.lzu-dropdown.dropdown li .ui-fileupload-buttonbar {
  background: transparent;
  border: none;
  padding: 0.3em 0;
}
.lzu-dropdown.dropdown li .ui-button,
.lzu-dropdown.dropdown li button {
  background: none;
  box-shadow: none;
  border: none;
  font-size: 14px;
  font-weight: normal;
}
.lzu-dropdown.dropdown .ui-fileupload-content {
  display: none;
}
.lzu-dropdown.dropdown span.ui-button-icon-left {
  display: none;
}
.lzu-dropdown.dropdown span.ui-button-text {
  padding: 5px 10px;
}
