<?xml version='1.0' encoding='utf-8'?>
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
        <!--"-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->
        <!--"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->

<!DOCTYPE hibernate-configuration SYSTEM
        "classpath://org/hibernate/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>-->
        <!--<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>-->
        <!--<property name="hibernate.connection.url">jdbc:postgresql://dumbo.inf.fh-bonn-rhein-sieg.de/demouser</property>-->

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ooka</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.autoReconnect">true</property>

        <!-- Connection Pool Size -->
        <property name="hibernate.connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Debug -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mappings -->
        <mapping class="org.ooka.sfisc12s.runtime.environment.component.ComponentBase"/>
        <mapping class="org.ooka.sfisc12s.runtime.environment.component.impl.ClassComponent"/>
        <mapping class="org.ooka.sfisc12s.runtime.environment.component.impl.JarComponent"/>
        <mapping class="org.ooka.sfisc12s.runtime.environment.component.impl.ReferenceComponent"/>
    </session-factory>
</hibernate-configuration>